* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
   overflow-x: hidden;
}
/* header */
.container {
  width: 100%;
  min-height: 100vh;
  /* background-color: aliceblue; */
}
.nav-container {
  /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  /* background-color: blue; */
  margin: 20px 20px;
  border-radius: 40px;
}
.unlist {
  width: 100%;
  background-image: linear-gradient(-225deg, #aafeaa 0%, #d7aafe 100%);
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  border-radius: 20px;
  /* background-color: rebeccapurple; */
}
ul #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li img {
  width: 60px;
  height: 60px;
}
nav ul li p {
  font-size: 22px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#span1 {
  color: black;
}
#span2 {
  color: orange;
}
#navLink {
  font-size: 16px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  gap: 15px;
}
#navLink a {
  color: black;
}

#navLink a:hover {
  color: orange;
}

@media (max-width: 320px) {
  .unlist {
    padding: 6px 8px;
    border-radius: 10px;
  }
  ul li img {
    width: 30px;
    height: 30px;
  }
  nav ul li p {
    font-size: 14px;
  }
  #navLink {
    font-size: 12px;
    font-weight: 600;

    display: flex;
    gap: 7px;
  }
  nav {
    width: 100%;

    margin: 29px 10px;
    /* border-radius: 4px; */
  }
}
@media (min-width: 320px) and (max-width: 426px) {
  .unlist {
    padding: 10px 11px;

    border-radius: 10px;
  }
  ul li img {
    width: 30px;
    height: 30px;
  }
  nav ul li p {
    font-size: 15px;
  }
  #navLink {
    font-size: 13px;
    font-weight: 600;

    display: flex;
    gap: 9px;
  }
  nav {
    width: 100%;

    margin: 29px 10px;
    /* border-radius: 4px; */
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .unlist {
    padding: 10px 11px;

    border-radius: 10px;
  }
  ul li img {
    width: 40px;
    height: 40px;
  }
  nav ul li p {
    font-size: 18px;
  }
  #navLink {
    font-size: 14px;
    font-weight: 600;

    display: flex;
    gap: 9px;
  }
  nav {
    width: 100%;

    margin: 29px 10px;
    /* border-radius: 4px; */
  }
}

/* content box  */
.contentBox {
  background: rgba(220, 220, 220, 0.071);
  width: 100%;
  /* min-height: 100vh; */
    padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  /* margin-bottom: 20px; */
}

.contentBox #contentDiv {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 42%;
  height: 350px;
  margin: 0px 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .textDiv {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 2 0px;

  /* background-color: red; */
}
#contentImage {
  width: 47%;
  height: 300px;

  /* background-color: yellow; */
}
#contentImage img {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  /* background-color: yellow; */
}
.listITEM li {
  list-style-type: disc;
  margin-left: 20px;
}
.listITEM1 li {
  list-style-type: lower;
  margin-left: 20px;
}
@media (max-width: 321px) {
  .contentBox #contentDiv {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .contentBox .textDiv {
    width: 100%;
    margin-left: 10px;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  #contentImage {
    width: 100%;
    height: auto;
  }
  #contentImage img {
    width: 100%;
    height: 150px;
  }
}
@media (min-width: 321px) and (max-width: 426px) {
  .contentBox #contentDiv {
    width: 100%;
    height: 460px;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
  }

  .contentBox .textDiv {
    width: 100%;
    height: 200px;
    margin-left: 10px;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  #contentImage {
    width: 100%;
    height: 180px;
  }
  #contentImage img {
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 426px) and (max-width: 640px) {
  .contentBox #contentDiv {
    width: 100%;

    /* height: 460px; */
    justify-content: center;

    flex-direction: row;
  }

  .contentBox .textDiv {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;

    /* background-color: blue; */
    justify-content: center;
  }
  #contentImage {
    width: 60%;
    height: 300px;
    /* background-color: green; */
  }
  #contentImage img {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .contentBox #contentDiv {
    width: 100%;

    /* height: 460px; */
    justify-content: center;

    flex-direction: row;
  }

  .contentBox .textDiv {
    width: 100%;
    height: 300px;
    padding-left: 15px;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;

    /* background-color: blue; */
    justify-content: center;
  }
  #contentImage {
    width: 70%;
    height: 300px;
    /* background-color: green; */
  }
  #contentImage img {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contentBox #contentDiv {
    width: 42%;
    height: 500px;
    margin: 0px 0px ;
    flex-direction: column;
    gap: 10px;
  }

  .contentBox .textDiv {
    width: 100%;
    margin-left: 10px;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  #contentImage {
    width: 98%;
    height: 250px;
  }
  #contentImage img {
    width: 100%;
    height: 250px;
  }
}

/* footer */

.footerBox p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  letter-spacing: 0.2px;
  background-image: linear-gradient(-225deg, #aafeaa 0%, #d7aafe 100%);
  padding: 5px 0px;
}
@media (max-width: 320px) {
  .footerBox p {
    font-size: 8px;
  }
}
@media (min-width: 320px) and (max-width: 426px) {
  .footerBox p {
    font-size: 10px;
  }
}
